<div class="container">
  <h1>Registrar Médico</h1>
  <form (ngSubmit)="registrarMedico(form)" #form="ngForm" class="row g-3">
    <c-col [md]="4">
      <label cLabel for="ci" class="fw-medium">Cédula de Identidad</label>
      <input cFormControl name="ci" id="ci" type="number" placeholder="CI" ngModel required />
    </c-col>
    <c-col [md]="4">
      <label cLabel for="nombre" class="fw-medium">Nombre</label>
      <input cFormControl name="nombre" id="nombre" type="text" placeholder="Nombre" ngModel required />
    </c-col>
    <c-col [md]="4">
      <label cLabel for="apellido" class="fw-medium">Apellido</label>
      <input cFormControl name="apellido" id="apellido" type="text" placeholder="Apellido" ngModel required />
    </c-col>
    <c-col [md]="6">
      <label cLabel for="email" class="fw-medium">Email</label>
      <input cFormControl name="email" id="email" type="email" placeholder="example@domain.com" ngModel required />
    </c-col>
    <c-col [md]="6">
      <label cLabel for="telefono" class="fw-medium">Teléfono</label>
      <input cFormControl name="telefono" id="telefono" type="tel" placeholder="Teléfono" ngModel required />
    </c-col>
    <c-col [md]="6">
      <label cLabel for="sexo" class="fw-medium">Sexo</label>
      <select cSelect name="sexo" id="sexo" ngModel required>
        <option value="" disabled selected>Seleccionar</option>
        <option value="masculino">Masculino</option>
        <option value="femenino">Femenino</option>
        <option value="otro">Otro</option>
      </select>
    </c-col>
    <c-col [xs]="12">
      <button cButton type="submit" class="fw-medium" [disabled]="!form.valid">Registrar</button>
    </c-col>
  </form>
</div>