<!-- agendar-ficha.component.html -->
<c-card>
  <c-card-header>
    <h4>Registrar Ficha</h4>
  </c-card-header>
  <c-card-body>
    <div class="container mt-4">
      <form >
        <c-row>
          <c-col [md]="6">
            <label cLabel for="especialidades">Especialidad</label>
            <select cSelect name="especialidad" id="especialidades" [(ngModel)]="especialidades" class="form-control" required>
              <option value="" disabled selected>Seleccionar Especialidad</option>
              <option *ngFor="let especialidad of especialidades" [value]="especialidad.id">
                {{ especialidad.nombre }}
              </option>
            </select>
            <p *ngIf="especialidades.length === 0">No hay especialidades disponibles</p> <!-- Mensaje de estado -->
          </c-col>

          <c-col [md]="6">
            <label cLabel for="medicos">Medicos</label>
            <select cSelect name="medicos" id="medicos" [(ngModel)]="medicos" class="form-control" required>
              <option value="" disabled selected>Seleccionar Medicos</option>
              <option *ngFor="let medico of medicos" [value]="medico.id">
                {{ medico.nombre }} {{ medico.apellido}}
              </option>
            </select>
            <p *ngIf="medicos.length === 0">No hay Medicos disponibles</p> <!-- Mensaje de estado -->
          </c-col>
        </c-row>
        <c-row>
          <c-col [md]="6">
            <label cLabel for="medicoHorario">Horario de Medicos</label>
            <select cSelect name="medicoHorario" id="medicoHorario" [(ngModel)]="medicoHorario" class="form-control" required>
              <option value="" disabled selected>Seleccionar Horario</option>
              <option *ngFor="let medicoHorarios of medicoHorario" [value]="medicoHorarios.id">
                {{ medicoHorarios.medico.nombre }}
                {{medicoHorarios.horario.dia}}
                {{medicoHorarios.horario.horaInicio}}
                {{medicoHorarios.horario.horaFin}}
                {{ medicoHorarios.consultorio.nombre}}
              </option>
            </select>
            <p *ngIf="medicoHorario.length === 0">No hay Horarios asignados a Medicos disponibles</p> <!-- Mensaje de estado -->
          </c-col>

          <c-col [md]="6">
            <label cLabel for="intervalos">Intervalos</label>
            <select cSelect name="intervalos" id="intervalos" [(ngModel)]="intervalos" class="form-control" required>
              <option value="" disabled selected>Seleccionar Ficha</option>
              <option *ngFor="let intervalo of intervalos" [value]="intervalo.id">
                {{ intervalo.horaInicio }}
                {{ intervalo.horaFin }}
                {{ intervalo.medicoHorario.medico.nombre}}
                {{ intervalo.estado}}
              </option>
            </select>
            <p *ngIf="medicoHorario.length === 0">No hay Horarios asignados a Medicos disponibles</p> <!-- Mensaje de estado -->
          </c-col>
        </c-row>


        <br>
        <c-col [xs]="12">
          <button cButton type="submit" class="fw-medium">Registrar</button>
        </c-col>
      </form>
    </div>
  </c-card-body>
</c-card>

