<c-card>
  <c-card-header>
    <h4>Chatbot</h4>
  </c-card-header>
  <c-card-body>
    <p>Para enviar un mensaje, ingresa el número de teléfono del paciente y el mensaje que deseas enviar.</p>
    <div class="container mt-1">
      <h2>Enviar Mensaje</h2>
      <div class="form-group" style="width: 400px;">
        <label for="to" class="font-weight-bold">Para:</label>
        <input id="to" [(ngModel)]="phoneNumber" class="form-control" placeholder="Número de teléfono ">
      </div>
      <br>
      <div class="form-group" style="width: 400px;">
        <label class="font-weight-bold" for="message">Mensaje:</label>
        <textarea class="form-control" id="message" [(ngModel)]="message" placeholder="Escribe tu mensaje aquí"></textarea>
      </div>
      <hr>
      <button class="btn btn-primary mt-3" style="width: 200px;" (click)="sendMessage()">Enviar</button>
      <p>{{ response }}</p>
    </div>
  </c-card-body>
</c-card>
<br>
<c-card>
  <c-card-header>
    <h4>Historial de mensajes</h4>
  </c-card-header>
  <c-card-body>
    <div class="container">
      <h1>Chatbot Webhook</h1>
      <form (ngSubmit)="reviewMessage()" #messageForm="ngForm">
        <div class="form-group">
          <label for="from">Número del remitente:</label>
          <input
            type="text"
            id="from"
            class="form-control"
            required
            [(ngModel)]="messageData.from"
            name="from"
          />
        </div>
        <div class="form-group">
          <label for="body">Mensaje:</label>
          <textarea
            id="body"
            class="form-control"
            required
            [(ngModel)]="messageData.body"
            name="body"
          ></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>

      <div *ngIf="response" class="mt-4 alert alert-success">
        <strong>Respuesta del chatbot:</strong> {{ response }}
      </div>
    </div>

  </c-card-body>
</c-card>

