<c-card>
  <c-card-header>
    <h4>Registrar Especialidades</h4>
  </c-card-header>
  <c-card-body>
    <div class="container mt-5">
      <form [formGroup]="especialidadForm" (ngSubmit)="onSubmit()" class="d-flex flex-column align-items-center">
        <div class="form-group" style="width: 400px;"> <!-- Ajusta el ancho aquí -->
          <label for="nombre" class="font-weight-bold">Nombre de la Especialidad</label>
          <input id="nombre" formControlName="nombre" type="text" class="form-control" placeholder="Ingrese el nombre de la especialidad" required>
        </div>
        <button type="submit" class="btn btn-primary mt-3" style="width: 200px;">Registrar</button> <!-- Ajusta el ancho del botón -->
      </form>
    </div>
  </c-card-body>
</c-card>

