<div class="container mt-5">
    <h2 class="text-center">Lista de Especialidades</h2>
    
    <div class="table-responsive d-flex justify-content-center">
      <table class="table table-striped table-bordered mt-4" style="max-width: 500px;" *ngIf="especialidad.length > 0">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th style="width: 120px;"> Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let especialidades of especialidad">
            <td>{{ especialidades.id }}</td>
            <td>{{ especialidades.nombre }}</td>
            <td>
              <button class="btn btn-primary btn-sm" (click)="actualizarEspecialidad(especialidades.id)">
                Actualizar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  