
<c-card>
  <c-card-header>
    <h2>Lista de Pacientes</h2>
  </c-card-header>
  <c-card-body>
    <div class="container mt-4">

      <table class="table table-bordered">
        <thead cTableColor="light">
        <tr>
          <th>Cédula de Identidad</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Fecha de Nacimiento</th>
          <th>Email</th>
          <th>Teléfono</th>
          <th>Sexo</th>
          <th>Dirección</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let paciente of pacientes">
          <td>{{ paciente.ci }}</td>
          <td>{{ paciente.nombre }}</td>
          <td>{{ paciente.apellido }}</td>
          <td>{{ paciente.fechaNacimiento | date: 'dd/MM/yyyy' }}</td>
          <td>{{ paciente.email }}</td>
          <td>{{ paciente.telefono }}</td>
          <td>{{ paciente.sexo }}</td>
          <td>{{ paciente.direccion }}</td>
          <td>
            <button cButton color="primary" variant="ghost" (click)="actualizarPaciente(paciente)" class="btn btn-primary">Actualizar</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </c-card-body>
  <c-card-footer>
    <button cButton color="primary" variant="ghost"  class="btn btn-primary">Nuevo Paciente</button>
  </c-card-footer>
</c-card>


