 <div class="container mt-5">
    <h1 class="text-center mb-4">Registrar Consultorio</h1>
    <form [formGroup]="consultorioForm" (ngSubmit)="onSubmit()" class="d-flex flex-column align-items-center">
        <div class="form-group" style="width: 400px;"> <!-- Ajusta el ancho aquí -->
            <label for="nombre" class="font-weight-bold">Nombre del Consultorio</label>
            <input id="nombre" formControlName="nombre" type="text" class="form-control" placeholder="Ingrese el nombre del consultorio" required>
        </div>
        <button type="submit" class="btn btn-primary mt-3" style="width: 200px;">Registrar</button> <!-- Ajusta el ancho del botón -->
    </form>
</div>
