<c-card>
  <c-card-header>
    <h3>Intervalos de horarios</h3>
  </c-card-header>
  <c-card-body>
    <div class="container mt-4">
      <!-- Filtro por Médico -->
      <label for="medico">Filtrar por Médico:</label>
      <select id="medico" [(ngModel)]="medicoHorarioId" (change)="filtrarPorMedico()">
        <option *ngFor="let medico of medicoHorarios" [value]="medico.id">
          {{ medico.medico.nombre }}
        </option>
      </select>

      <!-- Tabla de Intervalos -->
      <table class="table table-bordered mt-3">
        <thead class="">
        <tr>
          <th>#</th>
          <th>Médico</th>
          <th>Hora Inicio</th>
          <th>Hora Fin</th>
          <th>Estado</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let intervalo of intervalos; let indice=index">
          <td>{{ indice +1 }}</td>
          <td>{{ intervalo.medicoHorario.medico.nombre }} {{ intervalo.medicoHorario.medico.apellido}}</td>
          <td>{{ intervalo.horaInicio }}</td>
          <td>{{ intervalo.horaFin }}</td>
          <td>{{ intervalo.estado }}</td>
        </tr>
        </tbody>
      </table>
    </div>

  </c-card-body>
</c-card>
