<div class="container my-4">
  <h2 class="text-center mb-4">Listado de Horarios de Médicos</h2>
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Nombre Médico</th>
          <th>Nombre Consultorio</th>
          <th>Horario Día</th>
          <th>Hora Inicio</th>
          <th>Hora Fin</th>
          <th>Cantidad Disponible</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let medicoHorario of medicoHorarios">
          <td>{{ medicoHorario.medico.nombre }} {{medicoHorario.medico.apellido}}</td>  <!-- Mostrar nombre del médico -->
          <td>{{ medicoHorario.consultorio.nombre }}</td>  <!-- Mostrar nombre del consultorio -->
          <td>{{ medicoHorario.horario.dia }}</td>  <!-- Mostrar día del horario -->
          <td>{{ medicoHorario.horario.horaInicio }}</td>  <!-- Mostrar hora de inicio -->
          <td>{{ medicoHorario.horario.horaFin }}</td>  <!-- Mostrar hora de fin -->
          <td>{{ medicoHorario.cantDisponibles }}</td>  <!-- Mostrar cantidad disponible -->
        </tr>
      </tbody>
    </table>
  </div>
</div>
