<c-card cBorder="primary">
  <c-card-header cBgColor="primary">
   <h2>Horarios de Medicos</h2>
  </c-card-header>
  <c-card-body>
    <div>
      <table bordered cTable>
        <thead cTableColor="light">
          <tr>
            <th scope="col">Hora</th>
            <th >Lunes</th>
            <th scope="col">Martes</th>
            <th scope="col">Miércoles</th>
            <th scope="col">Jueves</th>
            <th scope="col">Viernes</th>
            <th scope="col">Sábado</th>
            <th scope="col">Domingo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of medicoHorario">
            <th>{{ item.horario.horaInicio }} <br>
              {{item.horario.horaFin}}</th>
            <td>
              <!-- Muestra el médico solo si tiene horario para ese día y hora -->
              {{ item.medico.nombre }} {{ item.medico.apellido }}<br>
              <small>{{item.consultorio.nombre }}</small>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </c-card-body>
</c-card>
