<!-- Formulario para seleccionar Médico, Consultorio y Horario -->
<form>
  <div class="form-group">
    <label for="medicoSelect">Seleccione un Médico</label>
    <select id="medicoSelect" class="form-control" [(ngModel)]="selectedMedicoId" name="medico" required>
      <option value="" disabled selected>Seleccione un médico</option>
      <option *ngFor="let medico of medicoEspecialidades" [value]="medico.id">
        {{ medico.medico.nombre }} {{ medico.medico.apellido }} - {{ medico.especialidad.nombre }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="consultorioSelect">Seleccione un Consultorio</label>
    <select id="consultorioSelect" class="form-control" [(ngModel)]="selectedConsultorioId" name="consultorio" required>
      <option value="" disabled selected>Seleccione un consultorio</option>
      <option *ngFor="let consultorio of consultorios" [value]="consultorio.id">
        {{ consultorio.nombre }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="horarioSelect">Seleccione un Horario</label>
    <select id="horarioSelect" class="form-control" [(ngModel)]="selectedHorarioId" name="horario" required>
      <option value="" disabled selected>Seleccione un horario</option>
      <option *ngFor="let horario of horarios" [value]="horario.id">
        {{ horario.dia }}: {{ horario.horaInicio }} - {{ horario.horaFin }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="cantDisponibles">Cantidad de Disponibles</label>
    <input id="cantDisponibles" type="number" class="form-control" [(ngModel)]="cantDisponibles" name="cantDisponibles" required min="1">
  </div>

  <button type="button" class="btn btn-primary mt-3" >Registrar Relación</button>
</form>
